/* ================================= 
  General
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* ================================= 
  Main + Form
==================================== */

.container {
    margin: 0 auto;
    padding: 0 5%;
}

input {
    display: block;
    margin: 40px auto 0;
    padding: 15px;
    width: 50%;
    height: auto;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}

::placeholder {
    font-weight: 300;
}

#gallery {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#gallery li {
    margin: 40px auto 0;
}


/* ================================= 
  Lightbox
==================================== */

.lb-outerContainer,
.lightbox .lb-image {
    border: none;
    border-radius: 0;
}

.lb-data .lb-close {
    display: none;
}

.lb-nav a.lb-prev,
.lb-nav a.lb-next {
    opacity: 1;
}


/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 480px) {

    #gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #gallery li {
        padding: 0 2.5%;
    }


    /* Caption ... */
    .lb-data {
        margin: 40px 60px 0;
        /* Center multiple lines text */
        display: inline-block;
        vertical-align: middle;
    }

    .lb-data .lb-details {
        width: 100%;
    }

    .lb-data .lb-caption {
        font-size: 1em;
        line-height: 1.5;
        letter-spacing: 2px;
    }

}

@media (min-width: 768px) {

    .container {
        max-width: 1200px;
    }

}

@media (min-width: 1024px) {

    .lb-nav a.lb-prev,
    .lb-nav a.lb-next {
        position: absolute;
        width: 50%;
    }

    .lb-nav a.lb-prev {
        left: -9%;
    }

    .lb-nav a.lb-next {
        right: -9%;
    }

}